.button-bottom {
  background-image: url(../assets/multimedia/interaccioniniciocomic1.png);
  height: 20vh;
}
.button{
padding: 20px;}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 1000px;
  height: 500px;
  border-radius: 15px;
  border: 2px solid rgb(26, 129, 95);
  background-color: rgb(132, 255, 173);
  margin: 50px auto 0 auto;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  border-radius: 15px;
  border: 2px solid white;
  background-color: rgb(47, 0, 255);
  color: rgb(27, 27, 27);
  cursor: pointer;
}

.disabled{
  opacity: .7;
  cursor: not-allowed;
  filter: grayscale(100%);
}
.hola{
  width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;

}
