

@import url(https://fonts.googleapis.com/css?family=Hind+Siliguri:300,600|Martel:400,900);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
body{margin:0}/* article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary */

.logo{
    z-index: 100;
    background-size: cover;
    background-position: 0%;
    height: 10vh;
    width: 20vh;
}
.menu{
    background-color: #ffffff;
  background-size: cover;
}

.hero{
    background-image: url(../assets/multimedia/fondoazulvol.png);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}

.card {
    position: relative;
    width: 400px;
    height: 300px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card svg {
    width: 70px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #0b44ff;
    font-weight: 700;
  }
  
  .card:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  .azu{
    background-color: #D1EFF7;
    height: 30rem;
  }
  .btn{
    width: 100%;
  }
  .per{
    height: 50vh;
  }
  .tt-bienvenidos{
    font-size: 6rem;
  }
  .parques-1{
    font-size: 3rem;
  }
  .titulos{
    color: #e29118;
  }
  .btn-color{
    background-color: #f1b964;
  }
  button {
    font-size: 4rem;
    color: #e29118;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  
  }
  
  button:focus,
  button:hover {
    color: #76ebc4;
  }
  
  button:focus:after,
  button:hover:after {
    width: 100%;
    font-size: 10rem;
    left: 0%;
  }
  
  button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #64cef8;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
  .uno-cero{
    font-size: 1rem;
    height: 10px;

  }
 .vivi{
  background-image: url(./multimedia/fondosolo1.png);
    background-size: cover;
    height: auto;
    background-repeat: no-repeat;

 }
 .footer-container{
  background-image: url(./multimedia/logo\ fansia.png);
  padding: 60px 0;
  margin-top: 30px;

 }
 .comic{
  background-image: url(../assets/multimedia/mantenimiento.png);
  background-size: cover;
  height: 70vh;
 }
 .nav-link{
  font-size: 1rem;
    color: #000000;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
 }

 .nav-link:focus,
 .nav-link:hover {
   color: #76ebc4;
 }
 
 button:focus:after,
 button:hover:after {
   width: 100%;
   font-size: 10rem;
   left: 0%;
 }
 
 .nav-link:after {
   content: "";
   pointer-events: none;
   bottom: -2px;
   left: 50%;
   position: absolute;
   width: 0%;
   height: 2px;
   background-color: #64cef8;
   transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
   transition-duration: 400ms;
   transition-property: width, left;
 }
 

 /* From Uiverse.io by nikk7007 */ 
button-7 {
  padding: 0.8em 1.8em;
  border: 2px solid #17C3B2;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #17C3B2;
 }
 
 .button7::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17C3B2;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 button-7:hover::before {
  width: 105%;
 }
 
 button-7:hover {
  color: #111;
 }
 


               
          
 .transUp{
  transition: .5s, color .10s;
      -webkit-transition: .5s, color .10s;
      -moz-transition: .5s, color .10s;
}
.transUp:hover{
  transform: translatey(-20px);
      -webkit-transform: translatey(-20px);
      -moz-transform: translatey(-20px);
}
/* Estilos para el pie de página */
footer {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.redes-sociales {
  margin-bottom: 10px;
}

.redes-sociales a {
  margin: 0 10px;
  font-size: 24px;
  color: #fff;
}

.redes-sociales a:hover {
  color: #ccc;
}

.fa {
  font-family: 'FontAwesome';
}
            
.comic{
  background-image: url(../assets/multimedia/cap1.png);
  background-size: cover;
  width: 100%;
  height: 95vh;
}
.button-container{
  display: flex;
  justify-content: center;
  margin: 20px;
}
